<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="MongoDBConnection" connectionString="mongodb+srv://groep2db:ki-adi-muni@cluster0.injcs.azure.mongodb.net/test" />
    </connectionStrings>
</configuration>